@charset "utf-8";
/* 共有ベース定義
-----------------------------------------------	*/
body {
	background:#f7f4ea;
	text-align:left;
	color: #cf5023;
	cursor: auto;
	font: normal normal 85%/1.45 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	letter-spacing:0em;
	word-spacing:normal;
	font-size:14px;
	line-height:32px;
	min-width:1000px;
}
.mincho {
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.f_eng {
	font-family:Georgia, "Times New Roman", Times, serif;
}
#wrapper {
	width:100%;
	min-width:1000px;
}
*:first-child+html img {
	vertical-align: top;
}
* html img {
	vertical-align: top;
}
/* 強調 */
strong {
	font-weight: bold;
}
a {
	color:#dd513a;
	text-decoration:none
}
a:hover {
	text-decoration:underline;
}
/*=============================================*/
/*                 テキスト 変更のみ            */
/*=============================================*/
.f_bold {
	font-weight:bold;
}
.shadw_img {
	-webkit-box-shadow:0px 0px 8px #8b857b;
	-moz-box-shadow:0px 0px 8px #8b857b;
	box-shadow:0px 0px 8px #8b857b;
	behavior: url(PIE.htc);
}
.shadw {
	-webkit-box-shadow:0px 0px 8px #dad5cc;
	-moz-box-shadow:0px 0px 8px #dad5cc;
	box-shadow:0px 0px 8px #dad5cc;
	behavior: url(PIE.htc);
}
/*=============================================*/
/*                ヘッド部分                   */
/*=============================================*/

/* header (top)*/
#header {
	width:100%;
	min-width:1000px;
	position: relative;
	height: 800px;
}
#belt {
	width: 1000px;
	margin:0 auto;
	z-index: 999;
	position: relative;
	height: 260px;
}
#logo {
	position: absolute;
	top: 60px;
	left: 417px;
}
#logo a {
	display: block;
}
h1 {
	position: absolute;
	top: 10px;
	right: 0px;
	text-align: right;
	color: #a06450;
	font-size: 13px;
	line-height: 32px;
}
#h_tel {
	position: absolute;
	top: 204px;
	left: 382px;
}
#h_reserve{
	position: absolute;
	top: 71px;
	left: 793px;
}
#h_reserve a{
	display: block;
	text-align: center;
	font-size:14px;
	width:200px;
	padding:0px 0;
	background: #EE662F;
	border:1px solid #E75013;
	color:#fff;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#h_reserve a:hover{
	opacity: 0.8;-moz-opacity: 0.8;filter: alpha(opacity=80);
	text-decoration: none;
}
#key {
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
	min-width:1000px;
	height: 800px;
}
/*=============================================*/
/*    ナビゲーション部（グローバル）   */
/*============================================*/
#fixNav_wrap {
	position:fixed;
	height: 60px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background:#ffffff
}
#fixNav_wrap .content {
	position: relative;
	z-index: 9999;
}
#fixNav_wrap span {
	background-color: #ee662f;
	display: block;
	height: 5px;
	position: absolute;
	top: 55px;
	
}
#fixNav_wrap .current {
	width: 109px;
}


#fixNav_wrap .fix_in { position: relative;
margin-left: 96px;
height: 60px;}

#fixNav li {
	float: left;
	margin-right: 1px;
}
#globalNav {
	position: absolute;
	height: 40px;
	top: 127px;
	left: 22px;
}
#globalNav li {
	float: left;
}
#globalNav li, #globalNav a {
	display: block;
}
#globalNav .padd {
	margin-right: 229px;
}
/*=============================================*/
/*                100%メイン囲み   top           */
/*=============================================*/
#container {
	padding-bottom:100px;
}
.content {
	width:1000px;
	margin:0 auto;
}
/*=============================================*/
/*                   フッターメニュー          */
/*=============================================*/
	
#footer {
	background: url(../img/footer_bg.jpg) repeat-x center bottom;
	min-width:1000px;
	clear: both;
	text-align: center;
}
#f_logo {
	margin-bottom: 46px;
}
#footer address {
	padding-bottom: 14px;
}
/* =========================================================
	CLEAR
========================================================= */
.clear {
	clear: both !important;
}
br.clear {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
/* CLEAR FIX
--------------------------------------------------------- */
.clearfix, .menu_list dl {
	zoom:1 !important;
}/* for IE 5.5-7 */
.clearfix:after, .menu_list dl:after {
	content: "." !important;
	display: block !important;
	height: 0px !important;
	clear: both !important;
	visibility: hidden !important;
}
.left_col {
	float:left !important;
}
.right_col {
	float:right !important;
}
.mar0 {
	margin:0 !important;
}
.center {
	text-align:center !important;
}
